html {
    height: 100%;
    width: 100%;
    margin-left: -8px;
}

#navbar{
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: #eee;
}

#navlogo{
    height:4rem;
    width:auto;
}
#homebg{
    height:100%;
    width:auto;
    position: absolute;
    right:0;
}
    
#homebgcover{
    height:100%;
    width:auto;
    position: absolute;
    left:0;
}