*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

*:focus{
  outline: none;
}

body{
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFCD3D
}


.form{
width: 800px;
height: auto; 
color: #000000;
text-align: center;
font-family: 'Inter', sans-serif;
}

.heading{
text-transform: capitalize;
text-align: center;
font-size: 80px;
font-weight: 300; 
margin-bottom: 50px;
}

.logo {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

/*
input{
  width: 80%;
  height: 35px; 
  display: block;
  margin: 20px auto; border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: #fff;
  padding: 15px;
  transition: .5s;
  text-transform: capitalize;
}

input::placeholder{
  color: #fff;
}
*/



