@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    height: 100%;
    width: 100%;
    margin-left: -8px;
    font-family: 'Inter', sans-serif;
}

a{
color:black;
font-style: normal;
}

#navbar{
position: fixed;
z-index: 50;
top: 0;
width: 100%;
height: 4rem;
background-color: #eee;
box-shadow: 5px;
}

#navlogo{
height:4rem;
width:auto;
position: relative;
top: -10px;
}

#loggedin_navbar{
height: 100%;
position: fixed;
width: 20%;
background-color: #FFCD3D;
font-size: 2rem;
color: black;
padding-left:0.7rem;
font-weight: lighter;
}

#whattowear{
position: relative;
top: 10%;
}

#closet{
position: relative;
text-decoration: underline;
top: 15%;
}

#settings{
position: relative;
top: 20%;
}

#signout{
position: relative;
top: 77%;
}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}