html {
  height: 100%;
  width: 100%;
  margin-left: -8px;
  font-family: 'Inter', sans-serif;
  background: url(images/bg.png)
}

#navbar{
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: #eee;
  box-shadow: 5px;
}

#navlogo{
  height:4rem;
  width:auto;
  position: relative;
  top: -10px;
}

#loggedin_navbar{
  height: 100%;
  position: fixed;
  width: 20%;
  background-color: #FFCD3D;
  font-size: 2rem;
  color: black;
  padding-left:0.7rem;
  font-weight: lighter;
}

#whattowear{
  position: relative;
  top: 10%;
}

#closet{
  position: relative;
  text-decoration: underline;
  top: 15%;
}

#settings{
  position: relative;
  top: 20%;
}

#signout{
  position: relative;
  top: 77%;
}

#title{
  width: 80%;
  position: absolute;
  right: 0;
  top: 14%;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

#description{
  width: 80%;
  position: absolute;
  right: 0;
  top: 23%;
  text-align: center;
  font-size: 30px;
}

#clothes{
  position: absolute;
  left: 20%;
  top: 30%;
}

button{
  position: relative;
  margin: 2.02rem;
  width: 220px;
  height: 220px;
  background-color: #eee;
  border-radius: 30px;
  border: none;
}

button:hover{
  transform: scale(1.05);
}

.desc{
  margin-top: 10px;
  font-size: 1.5rem;
}

img{
  width: 200px;
  height: 200px;
  padding-top: 10px;
}